body {
  background-color: #222;
  box-sizing: border-box;
}
.app {
  text-align: center;
  color: white;
}

.primaryTemperature {
  font-size: 42px;
}
.secondaryTemperature {
  color: grey;
}

input {
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

#outlined-basic {
  color: white;
}
.inputCity {
  margin-bottom: 10px;
}

.answerData {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 400px;
  flex-direction: row;
  border: 2px dashed grey;
  border-radius: 5px;
  box-shadow: 2px 2px 20px black;
}
.temperature {
  align-self: center;
}

.localeTime {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.languageSwitch {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);
}
.location {
  width: 250px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.MuiFormLabel-root {
  color: white !important;
  border-color: white !important;
}

svg,
img {
  width: 74px;
  max-height: 80px;
}

@media (max-width: 400px) {
  .answerData {
    width: 95%;
    flex-direction: column;
  }
  .location {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }
}
